{% extends 'layouts/base.html' %}

{% block titulo %}
    productos
{% endblock %}

{% block contenido %}
    <h1>Listado de productos</h1>
    <a href="{{ url_for('crear_producto') }}">crear</a>
    <table class="table table-bordered border-primary">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio Venta</th>
                <th>Precio Compra</th>
                <th>Ganancia</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>{{ producto[5] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>{{ producto[6] }}</td>
                
                    <td>
                        <a href="{{url_for('editar_producto', id=producto[0])}}">Editar</a>
                        <a href="{{url_for('eliminar_producto', id=producto[0])}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}